.title {
    font-size: var(--hfontsize);
    font-family: var(--hfontfam);
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

@media (max-width: 650px) {
  .projectGrid {
    grid-template-columns: 1fr;
  }
}