:root {
  --bg: #0B0B17;
  --text: #f4f4f5;
  --light-text: #a6abb3;
  --mainfont: Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

/* Header */
header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.nav-link {
  margin-right: 35px;
  color: var(--light-text);
  font-size: 1.2rem;
  font-family: var(--mainfont);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--text);
}

/* Footer */
footer {
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: var(--mainfont);
  color: var(--light-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerText {
  font-size: 0.9rem;
}

.footerTextLink {
  text-decoration: none;
  color: var(--light-text);
}

.footerTextLink:hover {
  color: var(--text);
}

#footerTextLinkPrivacy {
  text-decoration: none;
  color: var(--light-text);
  font-weight: bold;
} 

#footerTextLinkPrivacy:hover {
  color: var(--text);
}

.footerIcons a{
  text-decoration: none;
  color: var(--light-text);
  margin-left: 25px;
  font-size: 1.25rem;
}

.footerIcons a:hover {
  color: var(--text);
}